/* Filter.css */
.filter {
  margin: 0.1vw;
  position: absolute;
  right: 2vw;
  

}

.filter_label {
  margin-right: 10px;
  
}

.filter_select {
  padding: 5px;
  box-shadow: "2px 4px 6px 0.5px";
  border-radius: 10px;

}
